 body{
    background-color: #6c757d!important;
    padding: 15px;
    color: white!important;
}
.btn{
    width: 90px!important;
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.center button {
    margin: 5px 10px;  
} 
.formulario{
    background-color: #212529;
    padding: 10px 15px;
    border-radius: 5px;
}
.fake-form{
    display: contents;
    margin: 0px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer div{
    margin: 5px;
}
